<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Admin Editors</title>

  <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.css" rel="stylesheet">

  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="/plugins/fontawesome-free/css/all.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="/css/adminlte.min.css">
  <!-- CodeMirror -->
  <link rel="stylesheet" href="/plugins/codemirror/codemirror.css">
  <link rel="stylesheet" href="/plugins/codemirror/theme/monokai.css">
  <!-- SimpleMDE -->
  <link rel="stylesheet" href="/plugins/simplemde/simplemde.min.css">
</head>

<body class="hold-transition sidebar-mini">
  <div class="wrapper">
    <!-- Navbar -->
    <nav class="main-header navbar navbar-white navbar-light">
    </nav>
    <!-- /.navbar -->

    <!-- Main Sidebar Container -->
    <aside class="main-sidebar sidebar-dark-primary elevation-4">
      <!-- Brand Logo -->
      <!-- Sidebar -->
      <%- include("../includes/sidebar_admin.ejs") %>
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
          <!-- Content Header (Page header) -->
          <section class="content-header">
            <div class="container-fluid">
              <div class="row mb-2">
                <div class="col-sm-6">
                  <h1>Text Editors</h1>
                </div>
                <div class="col-sm-6">
                  <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Text Editors</li>
                  </ol>
                </div>
              </div>
            </div><!-- /.container-fluid -->
          </section>

          <section class="ftco-section">
            <div class="container">

              <form method="POST" id="contactForm" action="/admin/createpost" name="contactForm" class="contactForm">
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label class="label" for="title">Title</label>
                      <input type="text" class="form-control" name="title" id="name" placeholder="Title">
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group">
                      <label class="label" for="image">Image</label>
                      <input type="" class="form-control" name="imageUrl" id="" placeholder="url">
                    </div>
                  </div>
                  <!-- Tags -->
                  <div class="col-md-12">
                  </div>
                  <div class="col-md-12">
                    <div class="form-group">

                      <label class="label" for="description">Description</label>
                      <div style="width: 1000px;">
                        <textarea name="description" id="summernote" cols="138" rows="13"></textarea>
                      </div>

                    </div>

                  </div>
                  <div class="col-md-12">
                    <div class="form-group">

                      <input type="submit" value="Create Post" class="btn btn-primary">
                      <div class="submitting"></div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
        </div>
        <div class="col-md-5 d-flex align-items-stretch">
          <div class="info-wrap w-100 p-5 img" style="background-image: url(images/img.jpg);">
          </div>
        </div>
  </div>
  </div>
  </div>
  </div>


  </div>
  </section>

  <!-- Main content -->



  <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.js"></script>

  <!-- jQuery -->
  <script src="/plugins/jquery/jquery.min.js"></script>
  <!-- Bootstrap 4 -->
  <script src="/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
  <!-- AdminLTE App -->
  <script src="/js/adminlte.min.js"></script>
  <!-- Summernote -->
  <!-- CodeMirror -->
  <script src="/plugins/codemirror/codemirror.js"></script>
  <script src="/plugins/codemirror/mode/css/css.js"></script>
  <script src="/plugins/codemirror/mode/xml/xml.js"></script>
  <script src="/plugins/codemirror/mode/htmlmixed/htmlmixed.js"></script>
  <!-- AdminLTE for demo purposes -->
  <script src="/js/demo.js"></script>
  <!-- Page specific script -->
  <script>
    $(document).ready(function () {
      $('#summernote').summernote();
    });
  </script>

</body>

</html>