    <div class="container">
        <div class="top-footer">
            <div class="row">
                <div class="col-md-8">
                    <div class="subscribe-form">
                        <span>Contact us</span>
                        <form method="get" class="subscribeForm">
                            <input id="subscribe" type="text" />
                            <input type="submit" id="submitButton" />
                        </form>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="social-bottom">
                        <span>Follow us:</span>
                        <ul>
                            <li><a href="#" class="fa fa-facebook"></a></li>
                            <li><a href="#" class="fa fa-twitter"></a></li>
                            <li><a href="#" class="fa fa-rss"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="main-footer">
            <div class="row">
                <div class="col-md-8">
                    <div class="about">
                        <h4 class="footer-title">About Doka 2 </h4>
                        <p style="padding-right: 12rem; line-height: 25px;">Dive into the heart of Dota 2 with our
                            blog, a dedicated hub for all things Dota. Immerse
                            yourself in the riveting world of intense multiplayer battles and strategic gameplay
                            that defines the essence of Dota 2. From in-depth analyses of the latest patch updates
                            to exclusive insights into pro player strategies, our blog keeps you at the forefront of
                            the Dota 2 scene. Explore articles on hero releases, masterful mid-lane tactics, and
                            community-driven events that bring together Dota enthusiasts worldwide.
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="more-info">
                        <h4 class="footer-title">Connect with Us</h4>
                        <p>For any inquiries or assistance, feel free to reach out. Our dedicated team is here to
                            help you navigate the exciting world of Dota 2. We strive to provide a welcoming space
                            for discussions, strategy sharing, and community engagement.</p>
                        <ul>
                            <li><i class="fa fa-phone"></i>020-2222-4344</li>
                            <li><i class="fa fa-globe"></i>141, Seoul, South Korea</li>
                            <li><i class="fa fa-envelope"></i><a href="#">info@doka2.com</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom-footer">
            <p style="text-align: center;">
                <span>Copyright © 2023 <a href="#">Doka 2</a> | Jt's team
            </p>
        </div>

    </div>